$background: #f7f7f7;
$offwhite: #fffffe; 
$primary: #6246ea;
$secondary: #e45858; 
$dark:#2b2c34;
$info: #46b9ea;
$danger: #ea4646;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "dark": $dark,
  "info": $info,
  "danger": $danger
);
